@{
    ViewData["Title"] = "About";
    ViewData["Message"] = "SalesWebMvc Project"; 
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Esse projeto foi feito para fins de aprendizagem, entendimento da arquitetura MVC, EntityFrameWork,
entendimento sobre Programação Orientada a Objeto, Classes, Construtores, Injeção de dependências
e outros tópicos que serão citados mais  a frente.</p>